@charset "utf-8";

/* reset */
* {box-sizing: border-box;}
body, h1, h2, h3, ul, p, dl, dt, dd { margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: #000;}

.hidden {
    position:absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

/* font */
body {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
}

/* header */
#header {
    position: fixed;
    top:0; left: 0;
    z-index: 2;
    width: 100%; height: 100px;
    background: #fff;
    overflow: hidden;
}

#header h1 {
    position: absolute;
    top: 20px; left: 70px;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

#header h1 a {
    display: block;
    width: 132px; height: 48px;
    background: url(../images/gcova_logo.png) no-repeat;
}

#gnb {
    height: 350px;
    display: flex;
    justify-content: center;
}

#gnbList {
    text-align: center;
    display: flex;
}

#gnbList > li > a {
    width: 100%;
    padding: 40px 40px 38px 40px;
    display:block;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
}

/* 상세메뉴 */
#gnbList li .snb {
    margin-top: 20px;
    background: #fff;
}

#gnbList .snb > li > a {
    display: block;
    font-size: 16px;
    line-height: 40px;
}


/* #gnbList > li > a 에 마우스 호버 */
.active {
    color: #B90B0B;
}

/* footer */