@charset "utf-8";

/* 초기화 */
* {box-sizing: border-box;}
body, h1, h2, h3, ul, p, dl, dt, dd { margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: #000;}
.hidden {
    position:absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

/* 폰트 */
body {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
}

/* ---------- 헤더 ---------- */
#header {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    overflow: hidden;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 5px 10px #00000033;
}

/* 로고 */
/* #header h1 {
    position: absolute;
    top: 20px; left: 100px;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}
#header h1 a {
    display: block;
    width: 132px; height: 48px;
    background: url(../images/gcova_logo.png) no-repeat;
} */

/* 네비바 */
/* #gnb {
    height: 350px;
    display: flex;
    justify-content: center;
}
#gnbList {
    text-align: center;
    display: flex;
    gap: 80px
} */

#gnbList > li > a {
    position: relative;
    width: 100%;
    margin: 40px 0 20px 0;
    display: block;
    font-size: 1vw;
    padding-bottom: 20px;
}
#gnbList > li > a::before {
    position: absolute;
    bottom: 0; left: 0;
    content: '';
    display: block;
    width: 0; height: 2px;
    background: #B90B0B;
    transition: 0.3s;
}
#gnbList > li:hover a::before {
    width: 100%;
}

/* 상세메뉴 */
#gnbList li .snb {
    margin-top: 20px;
    background: transparent;
}
#gnbList li .snb > li > a {
    display: block;
    font-size: 1vw;
    line-height: 40px;
    transition: 0.3s;
}
.snb > li > a:hover { color: #B90B0B; }

/* 모바일 */
#header a.mobileBtn { display: none; }
#gnbList a.mobileClose { display: none; }
#header.mobile {right:0;}

/* 태블릿 */
@media screen and (min-width: 431px){
    
    #header a.mobileBtn {
        z-index: 99;
        position: absolute;
        top: 20px; right: 4vw;
        display: block;
        width: 30px; height: 30px;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
        background: url(../images/mobileBtn.png) no-repeat center / cover;
    }
    #gnbList a.mobileClose {
        display: block;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
        width: 30px; height: 30px;
        background: url(../images/close.png) no-repeat center /cover;
    }

    #header h1 {
        position: absolute;
        top: 20px; left: 4vw;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
    }

    #header h1 a {
        display: block;
        width: 90px; height: 32px;
        background: url(../images/gcova_logo.png) no-repeat center / cover;
    }
    #gnbList {
        margin-right: 4vw;
        display: flex;
        text-align: center;
        justify-content: end;
        gap: 30px;
    }
}

/* 데스크탑 */
@media screen and (min-width: 1281px) {
    #gnb {
        height: 350px;
        display: flex;
        justify-content: center;
    }
    #gnbList {
        text-align: center;
        display: flex;
        gap: 80px
    }
    #header h1 {
        position: absolute;
        top: 20px; left: 100px;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
    }
    #header h1 a {
        display: block;
        width: 132px; height: 48px;
        background: url(../images/gcova_logo.png) no-repeat;
    }
    #gnbList {
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: end;
        gap: 80px;
    }
}

/* 모바일 */
@media screen and (max-width: 430px) {
    #header a.mobileBtn {
        z-index: 99;
        position: absolute;
        top: 20px; right: 4vw;
        display: block;
        width: 30px; height: 30px;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
        background: url(../images/mobileBtn.png) no-repeat center / cover;
    }
    #gnbList a.mobileClose {
        z-index: 99;
        position: absolute;
        top: 20px; right: 4vw;
        display: block;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
        width: 30px; height: 30px;
        background: url(../images/close.png) no-repeat center /cover;
    }

    #header {width: 100%;}

    #header h1 {
        position: absolute;
        top: 20px; left: 4vw;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
    }
    #header h1 a {
        display: block;
        width: 90px; height: 32px;
        background: url(../images/gcova_logo.png) no-repeat center / cover;
    }
    #header {height: 800px;}
    #gnbList {
        margin-right: 4vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: end;
        gap: 30px;
    }
    #gnbList > li > a {
        margin-top: 100px;
        margin-bottom: 0;
        font-size: 18px;
    }
    #gnbList li .snb > li > a {
        font-size: 16px;
    }
}


/* ---------- 푸터 ---------- */
#footer {
    padding: 0 12vw;
    display: flex;
    flex-flow: column nowrap; gap: 20px;
    justify-content: center; align-items: start;
    width: 100%; height: 300px;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.8)), url(../images/locationBg.png) repeat-x bottom / 1920px;
}
@media screen and (min-width: 1921px) {
    #footer {
        background-size: 100%;
    }
}
#footer p, #footer a { color: #fff; font-size: 0.8vw; }
#footer .companyInfo { display: flex; }
#footer .companyInfo p:not(:last-child) {padding-right: 40px;}
#footer .info a:not(:first-child) {padding-left: 20px;}
#footer .info a:not(:last-child) {
    padding-right: 20px;
    border-right:1px solid #fff;
}