@charset "utf-8";

/* 초기화 */
html {font-size: 10px;}
* {box-sizing: border-box;}
body, h1, h2, h3, ul, p, dl, dt, dd { margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: #000;}
.hidden {
    position:absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}

:root {
    --primary: #B90B0B;
    --secondary: #fafa96;
    --bgColor: #ededed;
    --white: #fff;
}

/* 폰트 */
body {
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
}

/* ---------- 헤더 ---------- */
#header {
    position: fixed;
    top: 0; left: 0;
    z-index: 100; height: 100px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    /* border-radius: 0 0 40px 40px; */
    box-shadow: 0 5px 10px #00000033;
}

#header::after {
    content: '';
    position: absolute;
    top:100px;
    left:0;
    width: 100%;
    height: 1px;
    background: #fff9;
}

/* 로고 */
#header h1 {
    position: absolute;
    top: 30px; left: 4vw;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}
#header h1 a {
    display: block;
    width: 90px; height: 32px;
    background: url(../images/gcova_logo.png) no-repeat center / cover;
    filter: brightness(300%);
}

/* 네비바 */
#gnb {
    height: 350px;
    display: flex;
    justify-content: end;
}
#gnbList {
    margin-right: 4vw;
    text-align: center;
    display: flex;
    gap: 40px
}

#gnbList > li > a {
    position: relative;
    width: 100%;
    margin: 40px 0 20px 0;
    padding: 0 0 20px 0;
    display: block;
    font-size: 1.8rem;
}
#gnbList > li > a::before {
    position: absolute;
    top: 59px;
    left: 50%;
    translate: -50%;
    content: '';
    display: block;
    width: 0; height: 3px;
    background: var(--primary);
    transition: 0.3s;
}
#gnbList > li:hover a::before {
    width: 100%;
}

/* 상세메뉴 */
#gnbList li .snb {
    margin-top: 40px;
    background: transparent;
}
#gnbList li .snb > li > a {
    display: block;
    font-size: 1.7rem;
    line-height: 40px;
    transition: 0.3s;
}

#header.active #gnbList .snb li:hover a{
    color: var(--secondary);
}

#header.active {
    background: var(--primary);
}
#header.active #gnbList li a {
    color: var(--white);
}
#header.active #gnb a.mobileBtn {
    filter: invert(1);
}
#header.active #gnbList > li > a::before {
    background: var(--secondary);
}
/* 네비바 버튼 */
#gnb a.mobileBtn { display: none; }
#gnb a.mobileClose { display: none; }
#header.mobile {right:0;}

/* ==================
    Desktop 1281px
   ================== */
@media screen and (min-width: 1281px) {
    #pageTop {
        bottom: 100px;
    }
    #gnb {
        height: 350px;
        display: flex;
        justify-content: center;
    }
    #gnbList { gap: 80px }

    #header h1 { top:20px; }

    #header h1 a {
        width: 132px; height: 48px;
    }
    #gnbList {
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: end;
        gap: 80px;
    }
     #gnbList > li > a {
        position: relative;
        width: 100%;
        margin: 40px 0 20px 0;
        display: block;
        font-size: 1.8rem;
        padding-bottom: 20px;
    }
    #gnbList li .snb > li > a {
        display: block;
        font-size: 1.7rem;
        line-height: 40px;
        transition: 0.3s;
    }
    
    #header a.mobileBtn { display: none; }
    #gnbList a.mobileClose { display: none; }
}

/* ==================
    Mobile 710px
   ================== */
@media screen and (max-width: 710px) {
    /* 상단화면 이동버튼 */
    #pageTop {
        bottom: 20px;
    }
    /* 모바일 버튼 */
    #gnb a.mobileBtn {
        z-index: 99;
        position: absolute;
        top: 18px;
        right: 4vw;
        display: block;
        width: 25px; height: 25px;
        text-indent: -1000%;
        white-space: nowrap;
        overflow: hidden;
        background: url(../images/mobileBtn.png) no-repeat center / cover;
    }
    #gnb a.mobileClose {
        width: 20px;
        height: 20px;
        background: url(../images/close.png) no-repeat center /cover;
    }

    /* 헤더 */
    #header {
        height: 60px;
    }

    #header h1 {
        top: 15px;
    }
    #gnb {
        height: 770px;
        display: flex;
        justify-content: end;
    }

    #gnbList {
        margin-top: 120px;
        margin-right: 4vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: end;
        gap: 0;
    }
    #gnbList > li {
        margin-bottom: 20px;

    }
    #gnbList > li > a {
        margin: 0;
        margin-bottom: 0;
        font-size: 1.7rem;
    }
    #gnbList > li > a::before {
        top: 40px;
    }
    #gnbList > li:hover a::before {
        width: 100%;
    }

    #gnbList li .snb {
        margin-top: 20px;
    }
    #gnbList li .snb > li > a {
        font-size: 1.6rem;
        text-align: end;
    }

}


/* ---------- 푸터 ---------- */
#footer {
    padding: 0 12vw;
    display: flex;
    flex-flow: column nowrap; gap: 20px;
    justify-content: center; align-items: start;
    width: 100%; height: 300px;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.8)), url(../images/locationBg.png) repeat-x bottom / 1920px;
}

#footer p, #footer a { color: #fff; font-size: 1.2rem; }
#footer .companyInfo { display: flex; flex-direction: column; }
#footer .companyInfo p:not(:last-child) {padding-right: 40px;}
#footer .info a:not(:first-child) {padding-left: 20px;}
#footer .info a:not(:last-child) {
    padding-right: 20px;
    border-right:1px solid #fff;
}

@media screen and (min-width: 1921px) {
    #footer {
        background-size: 100%;
    }
    #footer .companyInfo { flex-direction: row; }
}