@charset "utf-8";

/* 상단 화면 이동버튼 */
#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(../images/pageup.png) no-repeat center /cover;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

/* ---------- 슬라이드 ---------- */

/* 슬라이더 */
#slider {
    position: relative;
    margin: 100px 4vw 0 4vw;
    width: 92vw;
    height: 650px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

/* 슬라이드 공통 */
#slideList li {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 650px;
    padding: 60px 40px 0 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

/* 슬라이드 배경 */
#slideList li.slide1 {
    background: #B90B0B;
    z-index: 1;
}

#slideList li.slide2 {
    background: #FF6E00;
}

#slideList li.slide3 {
    background: #fbb206;
}

/* 슬라이드 타이틀 공통*/
#slideList li strong {
    width: 60%;
    display: block;
    font-size: 2.8rem;
    color: #fff;
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
}

/* 슬라이드 내용 공통 */
#slideList li p {
    width: 60%;
    display: block;
    font-size: 1.2rem;
    color: #fff;
}

/* 슬라이드 비디오 공통 */
#slideList li video {
    position: absolute;
    top: 280px;
    right: 0;
    width: 100%;
    object-fit: cover;
}

/* 슬라이드 버튼 공통 */
#goBtn {
    height: 100%;
    display: block;
}
#goBtn a {
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 200px;
    height: 60px;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 60px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out background-color;
}

#goBtn a:hover {
    color: #B90B0B;
}
#goBtn a::before {
    content: '';
    width: 0;
    height: 100%;
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow: 2px 0px 15px rgb(255, 255, 255, 0.8);
    z-index: -1;
}
#goBtn a:hover::before {
    width: 120%;
}

/* 슬라이드 페이지네이션 */
#pagination {
    position: absolute;
    padding-left: 40px;
    bottom: 400px;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

/* 슬라이드 현재 번호 */
#pageNum {
    font-size: 1.8rem;
    font-family: 'S-CoreDream-3Light';
    color: #fff;
}

/* 슬라이드 좌우 버튼 */
#btnGroup { display: flex; order: 1; }
#btnGroup a {
    display: block;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
    width: 40px; height: 40px;
    background: url(../images/arrowRight.png) no-repeat center /cover;
}
#btnGroup .prevBtn {
    transform: rotate(180deg);
}
#btnGroup .nextBtn {
}
#btnBarGroup { position: relative; }
#btnBar {
    position: absolute;
    top: 0; left: 0;
    width: 0;
    height: 3px;
    background: #fff;
}

#btnBarBg {
    width: 15.625vw;
    height: 3px;
    background: #ffa5a5c0;
}

/* ---------- 지코바 메뉴 ---------- */

#menu {
    margin-top: 160px;
    overflow: hidden;
}

/* 메뉴 타이틀 */
#menu h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.8rem;
    text-align: center;
}
/* 메뉴 서브타이틀 */
#menu p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
}
/* 메뉴 종류 */
#menuList {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
/* 메뉴 이미지 */
#menuList li figure img {
    transition: 0.5s;
}
#menuList li figure img:hover {
    transform: scale(1.1);
}
/* 메뉴 이름 */
#menuList li figure figcaption {
    margin: 40px 0 160px 0;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
}

/* ---------- 브랜드스토리 ----------*/
#brand {
    position: relative;
    margin: 160px 4vw 0;
}
/* 브랜드 타이틀 */
#brand h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.8rem;
}
/* 브랜트 서브타이틀 */
#brand p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
}
/* 브랜드 자세히보기 버튼 */
#brand a {
    position: absolute;
    top:0;
    right: 0;
    display: block;
    width: 200px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 56px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#brand a:hover {
    color: #fff;
}
#brand a::before {
    display: block;
    content: '';
    width: 0;
    height: 100%;
    background: #B90B0B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow: 2px 0px 15px rgba(0, 0, 0, .8);
}
#brand a:hover::before {
    width: 120%;
}
/* 브랜드 카드 */
#brandList {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
#brandList li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 28vw;
    background: no-repeat center /cover;
    text-align: center;
    border-radius: 20px;
}

#brandList li dl dt {
    margin-top: 20px;
    font-family: 'S-CoreDream-6Bold';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}
#brandList li:hover dl dt {
    padding-bottom: 40px;
}
#brandList li dl dd {
    margin-top: 20px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
#brandList li:hover dl dd {
    opacity: 1;
}

#brandList li.brand1 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(../images/brand01.png);
}

#brandList li.brand2 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(../images/brand02.png);
}

#brandList li.brand3 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(../images/brand03.png);
}

#brandList li.brand4 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(../images/brand04.png);
}

/* ---------- 창업방법 ---------- */
#franchise {
    margin: 320px 4vw 0 4vw;
    position: relative;
    height: 800px;
    overflow: hidden;
}
/* 창업방법 타이틀 */
#franchise h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.8rem;
}
/* 창업방법 서브타이틀 */
#franchise p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
}

/* 창업방법 자세히 보기 버튼 */
#franchise a {
    position: relative;
    margin-top: 40px;
    display: block;
    width: 200px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 56px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#franchise a:hover {
    color: #fff;
}
#franchise a::before {
    content: '';
    width: 0;
    height: 100%;
    display: block;
    background: #B90B0B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow: 2px 0px 15px rgba(0, 0, 0, .8);
}
#franchise a:hover::before {
    width: 120%;
}

/* 창업방법 꼬꼬닭 */
#characterLogo {
    position: relative;
    margin: 360px 0 0 40px;
    width: 600px;
    height: 260px;
    background: url(../images/kkokko.png) no-repeat left bottom;
}
/* 무엇이든 물어보세요 */
#characterLogo p {
    display: block;
    position: absolute;
    top: 0; left: 0px;
    font-family: 'KCCHyerim-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 2.8rem;
}
/* 창업방법 꼬꼬닭 눈 */
#characterLogo div {
    position: absolute;
    top: 145px;
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#characterLogo div.eye1 {
    left: 33px;
}
#characterLogo div.eye2 {
    left: 114px;
}
#characterLogo span {
    position: absolute;
    top: 28px;
    left: 6px;
    display: block;
    background: #000;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* 창업방법 아이폰 */
#faq {
    transition: 0.5s linear bottom;
    position: absolute;
    bottom: -50%;
    right: 4vw;
    width: 365px;
    height: 758px;
    background: url(../images/iphone.png) no-repeat center / cover;
}
#faq dl > * { opacity: 0; transition: 0.5s opacity; }
/* 창업방법 아이폰 내부텍스트*/
#faq dl {
    position: absolute;
    top: 80px; left:30px;
    width: 310px;
    height: 728px;
}
/* 창업방법 아이폰 내부텍스트 공통 */
#faq dl dt,
#faq dl dd {
    font-size: 1.2rem;
    border-radius: 15px;
    background: #ededed;
}
/* 창업방법 아이폰 내부텍스트 질문 */
#faq dl dt {
    height: 40px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 40px;
    white-space: nowrap;
}
/* 창업방법 아이폰 내부텍스트 답변 */
#faq dl dd {
    margin-top: -70px;
    position: absolute;
    right: 0;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #B90B0B;
    color: #fff;
    white-space: nowrap;
}

#franchise dl .q1 {
    width: 200px;
}
#franchise dl .q2 {
    width: 210px;
}
#franchise dl .q3 {
    width: 180px;
}
#franchise dl .a1 {
    width: 280px;
}
#franchise dl .a2 {
    width: 300px;
}
#franchise dl .a3 {
    width: 280px;
}


/* ---------- 매장찾기 ---------- */
#location {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.5)), url(../images/locationBg.png) no-repeat center /cover;
}
/* 매장찾기 타이틀 */
#location h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.8rem;
    color: #fff;
}
/* 매장찾기 서브타이틀 */
#location p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
    color: #fff;
}
/* 매장찾기 서치바 */
#location a {
    position: relative;
    text-indent: -100%;
    display: block;
    margin-top: 50px;
    width: 42vw;
    height: 60px;
    border-radius: 30px;
    background: #fff;
}

/* 매장찾기 서치바 돋보기 */
#location a::after {
    position: absolute;
    top: 15px;
    right: 20px;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/searchIcon.png) no-repeat center /cover;
}

/* ---------- 태블릿 ---------- */
@media screen and (min-width: 431px){

}
/* ---------- 데스크탑 ---------- */
@media screen and (min-width: 1281px) {

    #slider { height: 740px; }
    /* 슬라이드 공통 */
    #slideList li {
        padding: 100px 40px 0 40px;
        height: 740px;
        flex-wrap: nowrap;
        gap: 50px; }
    /* 슬라이드 비디오 공통 */
    #slideList li video {
        width: 56vw;
        top:0;
        height: 740px;
    }
    /* 슬라이드 버튼 공통 */
    #goBtn {
        height: 60px;
        display: flex;
        justify-content: start;
        gap: 40px;
    }
    #goBtn a {
        margin: 0;
        width: 9.4vw;
    }
    /* 슬라이드 페이지네이션 */
    #pagination {
        width: 36vw;
        bottom: 200px;
        flex-wrap: wrap;
        gap: 30px;
    }
    /* 슬라이드 */
    #slideList li strong { font-size: 2.5vw; }
    #slideList li p { font-size: 1vw;}
    #goBtn a {font-size: 1vw;}
    #pageNum {font-size: 2.4rem; }

    /* 지코바메뉴 */
    #menu h2 {font-size: 4.8rem;}
    #menu p {font-size: 2.2rem;}
    #menuList li figure figcaption {font-size: 2.2rem;}

    /* 브랜드스토리 */
    #brand h2{ font-size: 4.8rem; }
    #brand p { font-size: 2.2rem; }
    #brand a {
        font-size: 1.8rem;
        width: 12.5vw;
        top: 30px;
    }
    #brandList li dl dt { font-size: 3.6rem; }
    #brandList li dl dd { font-size: 1.8rem; }
    
    /* 창업방법 */
    #franchise h2 { font-size: 4.8rem; }
    #franchise p { font-size: 2.2rem; }
    #franchise a {
        width: 12.5vw;
        font-size: 1.8rem;
     }
    #characterLogo {
        margin: 330px 0 0 4vw;
    }
    /* 무엇이든 물어보세요 */
    #characterLogo p {
        top:-60px; left: 0;
        font-size: 4.8rem;
    }
    #faq {
        bottom: -1200px;
        width: 770px; height: 1600px;
    }
    #faq dl {
        top: 160px; left: 85px;
        width: 600px; height: 1000px;
    }
    #faq dl dt, #faq dl dd { font-size: 1.8rem; }
    /* 창업방법 아이폰 내부텍스트 질문 */
    #faq dl dt {
        height: 80px;
        text-align: center;
        margin-bottom: 150px;
        line-height: 80px;
    }
    /* 창업방법 아이폰 내부텍스트 답변 */
    #faq dl dd {
        margin-top: -115px;
        position: absolute;
        right: 0;
        height: 80px;
        text-align: center;
        margin-bottom: 40px;
        line-height: 80px;
        background: #B90B0B;
        color: #fff;
    }
    #franchise dl .q1 {
        width: 17vw;
    }
    #franchise dl .q2 {
        width: 18.5vw;
    }
    #franchise dl .q3 {
        width: 15vw;
    }
    #franchise dl .a1 {
        width: 24vw;
    }
    #franchise dl .a2 {
        width: 25.5vw;
    }
    #franchise dl .a3 {
        width: 22.5vw;
    }
    /* 매장찾기 */
    #location h2 { font-size: 4.8rem; }
    #location p { font-size: 2.2rem; }
}
/* ---------- 모바일 ---------- */
@media screen and (max-width: 440px) {
    #slider {
        margin: 90px 4vw 0 4vw;
        height: 660px;
    }
    #slideList li {
        height: 660px;
        flex-wrap: nowrap;
    }
    #slideList li strong {
        width: 100%;
    }
    #slideList li p {
        width: 100%;
        font-size: 1.15rem;
    }
    #slideList li video {
        top: 340px;
        height: 350px;
    }
    #goBtn {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #goBtn a {
        width: 150px;
        margin:0;
    }
    #pagination {
        position: absolute;
        padding-left: 40px;
        bottom: 340px;
        z-index: 2;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }
    /* 메뉴 소개 */
    #menuList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px;
    }
    /* 브랜드 스토리 */
    #brandList {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px
    }
    #brandList li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background: no-repeat center /cover;
        text-align: center;
        border-radius: 20px;
    }
}

