@charset "utf-8";

/* 상단 화면 이동버튼 */
#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 100px; right: 20px;
    width: 50px; height: 50px;
    background: url(../images/pageup.png) no-repeat center /cover;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

/* 슬라이더 */
#slider {
    position:relative;
    margin: 100px 4vw 0 4vw;
    width: 92vw; height: 740px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

#slideList {
    display: flex;
    width: 276vw;
}

/* 슬라이드 공통 */
#slideList li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 92vw; height: 740px;
    /* opacity: 0; */
}
.active { z-index: 1; }

/* 슬라이드 타이틀 공통*/
#slideList li strong {
    display: block;
    margin: 160px 0 0 50px;
    font-size: 2.5vw;
    color: #fff;
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
}

/* 슬라이드 내용 공통 */
#slideList li p {
    display: block;
    margin: 40px 0 0 50px;
    font-size: 1vw;
    color: #fff;
}

/* 슬라이드 비디오 공통 */
#slideList li video {
    position: absolute;
    top:0; right: 0;
    width: 56vw; height: 740px;
    object-fit: cover;
}

/* 슬라이드 개별 배경 */
#slideList li.slide1 { background: #B90B0B; }
#slideList li.slide2 { background: #FF6E00;}
#slideList li.slide3 { background: #B90B0B;}

/* 슬라이드 버튼 공통 */
#goBtn {
    position: absolute;
    top: 540px; left: 50px;
    display: flex;
    gap: 40px;
}
#goBtn a {
    position: relative;
    display: block;
    width: 9.4vw; height: 60px;
    font-size: 1vw;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 60px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out;
    z-index: 1;
}
#goBtn a:hover { color: #B90B0B; }
#goBtn a::before {
    content: '';
    width: 0; height: 100%;
    display: block;
    background: #fff;
    position: absolute;
    top: 0; left: 0;
    transition: all .7s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow:2px 0px 15px rgb(255, 255, 255, 0.8);
    z-index: -1;
  }
#goBtn a:hover::before { width: 120%; }

/* 슬라이드 현재 번호 */
#pageNum {
    position: absolute;
    top: 448px; left: 50px;
    font-size: 1.5vw;
    font-family: 'S-CoreDream-3Light';
    color:#fff;
}

/* 슬라이드 좌우 버튼 */
#btnGroup a {
    z-index: 2;
    display: block;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 442px;
    width: 40px; height: 40px;
    background:url(../images/arrowRight.png) no-repeat center /cover;
}
#btnGroup .prevBtn{
    left: 420px;
    transform: rotate(180deg);
}
#btnGroup .nextBtn{
    left: 450px;
}

/* 슬라이드 바 */
#btnBar {
    z-index: 1;
    position: absolute;
    top: 460px; left: 105px;
    width: 100px; height: 3px;
    background: #fff;
}
#btnBarBg {
    z-index: 1;
    position: absolute;
    top: 460px; left: 105px;
    width: 300px; height: 3px;
    background: #ffa5a5c0;
}
#pageNum {z-index: 2;}

/* 지코바 메뉴 */
#menu {margin-top: 160px;}
#menu h2{
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.5vw;
    text-align: center;
}
#menu p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
    text-align: center;
}
#menuList {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#menuList li figure img {
    transition: 0.5s;
}
#menuList li figure img:hover {
    transform: rotate(20deg);
}
#menuList li figure figcaption  {
    margin: 40px 0 160px 0;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
    text-align: center;
}

/* 브랜드스토리 */
#brand {
    position: relative;
    margin: 160px 4vw 0;
}
#brand h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.5vw;
}
#brand p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
}
/* 브랜드 스토리 자세히보기 버튼 */
#brand a {
    position: absolute;
    top:30px; right: 0;
    display: block;
    width: 12.5vw; height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1vw;
    text-align: center;
    line-height: 56px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#brand a:hover{
    color: #fff;
}
#brand a::before {
    display: block;
    content: '';
    width: 0; height: 100%;
    background: #B90B0B;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    transition: all .5s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow:2px 0px 15px rgba(0,0,0,.8);
}
#brand a:hover::before {
    width: 120%;
}

/* 브랜드스토리 카드 */
#brandList {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
#brandList li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw; height: 28vw;
    background: no-repeat center /cover;
    text-align: center;
    border-radius: 20px;
}
#brandList li dl dd { opacity: 0; transition: 0.5s;}
#brandList li dl dt {transition: 0.5s;}
#brandList li:hover dl dt {padding-bottom: 40px;}
#brandList li:hover dl dd {opacity: 1;}

/* 브랜드스토리 카드 배경 */
#brandList li.brand1 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand01.png);}
#brandList li.brand2 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand02.png);}
#brandList li.brand3 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand03.png);}
#brandList li.brand4 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand04.png);}

#brandList li dl dt {
    margin-top: 20px;
    font-family: 'S-CoreDream-6Bold';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
}
#brandList li dl dd {
    margin-top: 20px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1vw;
    color:#fff;
}

/* 창업방법 */
#franchise {
    margin: 320px 4vw 0 4vw;
    position: relative;
    height: 800px;
}
#franchise h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 2.5vw;
}
#franchise > p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2vw;
}

/* 창업방법 자세히 보기 버튼 */
#franchise { overflow: hidden;}
#franchise a {
    position: relative;
    margin-top: 40px;
    display: block;
    width: 12.5vw; height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1vw;
    text-align: center;
    line-height: 56px;
    background: transparent;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
#franchise a:hover{
    color: #fff;
}
#franchise a::before {
    content: '';
    width: 0; height: 100%;
    display: block;
    background: #B90B0B;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    transition: all .5s cubic-bezier(0.7, 0, 0.2, 1);
    box-shadow:2px 0px 15px rgba(0,0,0,.8);
}
#franchise a:hover::before {
  width: 120%;
}

/* 꼬꼬닭 */
#characterLogo {
    position: relative;
    margin: 330px 0 0 200px;
    width: 600px; height: 260px;
    background: url(../images/kkokko.png) no-repeat left bottom;
}
#characterLogo p {
    display: block;
    position: absolute;
    top:20px; left: 10vw;
    font-family: 'KCCHyerim-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 2.5vw;
}
#characterLogo div {
    position: absolute;
    top: 145px;
    display: flex;
    border-radius: 50%;
    width: 50px; height: 50px;
}
#characterLogo div.eye1 { left: 33px; }
#characterLogo div.eye2 { left: 114px; }
#characterLogo span {
    position: absolute;
    top: 28px; left: 6px;
    display: block;
    background:#000;
    width: 28px; height: 28px;
    border-radius: 50%;
}

/* 아이폰 */
#faq {
    transition: 1s linear;
    position: absolute;
    bottom:-1200px; right: 4vw;
    width: 770px; height: 1600px;
    background: url(../images/iphone.png) no-repeat center / cover;
}
@media screen and (max-width: 1920px) {
    #franchise dl {
        width: 600px; height: 600px;
    }
}
#faq dl {
    position: absolute;
    top: 160px; left: 85px;
    width: 600px; height: 1000px;
    font-size: 1vw;
}
#faq dl dt, #faq dl dd {
        border-radius: 15px;
        background: #ededed;
}
#faq dl dt {
    height: 80px;
    text-align: center;
    margin-bottom: 150px;
    line-height: 80px;
}
#faq dl dd {
    margin-top: -115px;
    position: absolute;
    right: 0;
    height: 80px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 80px;
    background: #B90B0B;
    color: #fff;
}

#franchise dl .q1 { width: 17vw; }
#franchise dl .q2 { width: 18.5vw; }
#franchise dl .q3 { width: 15vw; }
#franchise dl .a1 { width: 24vw;}
#franchise dl .a2 { width: 25.5vw;}
#franchise dl .a3 { width: 22.5vw;}


/* 매장찾기 */
#location {
    width: 100%; height: 800px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.5)), url(../images/locationBg.png) no-repeat center /cover;
}
#location h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    color: #fff;
}
#location p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #fff;
}
#location a {
    position: relative;
    text-indent: -100%;
    display: block;
    margin-top: 50px;
    width: 42vw; height: 80px;
    border-radius: 20px;
    background: #fff;
}
#location a::after {
    position: absolute;
    top:5px; right: 10px;
    content: '';
    display: block;
    width: 30px; height: 30px;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    background: url(../images/searchIcon.png) no-repeat center /cover;
}