@charset "utf-8";

/* 상단 화면 이동버튼 */
#pageTop {
    z-index: 999;
    position: fixed;
    bottom: 100px; right: 20px;
    width: 50px; height: 50px;
    background: url(../images/pageup.png) no-repeat center /cover;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;

}

/* 슬라이더 */
#slider {
    position:relative;
    margin: 100px 4vw 0 4vw;
    /* width: 92vw; height: 740px; */
    border-radius: 20px;
    overflow: hidden;
}

#slideList {
    display: flex;
    width: 276vw;
}

/* 슬라이드 공통 */
#slideList li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 92vw; height: 740px;
}

/* 슬라이드 타이틀 공통*/
#slideList li strong {
    display: block;
    margin: 160px 0 0 50px;
    font-size: 48px;
    color: #fff;
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
}

/* 슬라이드 내용 공통 */
#slideList li p {
    display: block;
    margin: 40px 0 0 50px;
    font-size: 18px;
    color: #fff;
}

/* 슬라이드 버튼 공통 */
#goBtn {
    position: absolute;
    top: 540px; left: 50px;
    display: flex;
    gap: 40px;
}
#goBtn a {
    display: block;
    width: 140px; height: 40px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #fff;
}

/* 슬라이드 1 버튼 */
#slideList li.slide1 a {
    width: 180px; height: 40px;
    color: #fff;
}

/* 슬라이드 비디오 공통 */
#slideList li video {
    position: absolute;
    top:0; right: 0;
    width: 56vw; height: 740px;
    object-fit: cover;
}

/* 슬라이드 배경 */
#slideList li.slide1 { background: #B90B0B; }
#slideList li.slide2 {background: #FF6E00;}
#slideList li.slide3 {background: #B90B0B;}

/* 슬라이드 현재 번호 */
#pageNum {
    position: absolute;
    top: 448px; left: 50px;
    font-size: 24px;
    font-family: 'S-CoreDream-3Light';
    color:#fff;
}

/* 슬라이드 좌우 버튼 */
#btnGroup a {
    display: block;
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 442px;
    width: 40px; height: 40px;
    background:url(../images/arrowRight.png) no-repeat center /cover;
}
#btnGroup .prevBtn{
    left: 420px;
    transform: rotate(180deg);
}
#btnGroup .nextBtn{
    left: 450px;
}

/* 슬라이드 바 */
#btnBar {
    position: absolute;
    top: 460px; left: 105px;
    width: 100px; height: 3px;
    background: #fff;
}
#btnBarBg {
    position: absolute;
    top: 460px; left: 105px;
    width: 300px; height: 3px;
    background: #ffa5a5c0;
}

/* 메뉴 */

#menu {margin-top: 160px;}

#menu h2{
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

#menu p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

#menuList {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#menuList li figure figcaption  {
    margin: 40px 0 160px 0;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    text-align: center;
}

/* 브랜드스토리 */
#brand {
    margin: 160px 70px;
}

#brand h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}

#brand p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    /* text-align: center; */
}

#brandList {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

#brandList li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 400px; height: 490px; */
    width: 22vw; height: 28vw;
    background: no-repeat center /cover;
    text-align: center;
    border-radius: 20px;
}
/* 브랜드 카드 배경 */
#brandList li.brand1 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand01.png);}
#brandList li.brand2 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand02.png);}
#brandList li.brand3 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand03.png);}
#brandList li.brand4 {background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(../images/brand04.png);}

#brandList li dl dt {
    margin-top: 20px;
    font-family: 'S-CoreDream-7ExtraBold';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

#brandList li dl dd {
    margin-top: 20px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color:#fff;
}

/* 창업방법 */

#franchise {
    padding: 160px 0 0 70px;
    position: relative;
    height: 800px;
}

#franchise h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}

#franchise p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

#franchise a {
    margin-top: 40px;
    display: block;
    width: 240px; height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 56px;
}

#franchise dl {
    position: absolute;
    top: 160px; right: 70px;
    overflow: hidden;
    padding-top: 120px;
    width: 800px; height: 800px;
    margin-left: 800px;
    background: url(../images/iphone.png) no-repeat center /cover;
}

#franchise dl dt {
    width: 400px;
    margin-left: 100px;
    margin-top: 80px;
    padding: 20px 30px;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    background: #ededed;
    border-radius: 15px;
}

#franchise dl dd {
    width: 600px;
    margin-left: 100px;
    margin-top: 80px;
    padding: 20px 30px;
    font-family: 'S-CoreDream-4Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    background: #B90B0B;
    border-radius: 15px;
    color: #fff;
}

#location {
    margin-top: 160px;
    width: 100%; height: 800px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.5)) url(../images/locationBg.png) no-repeat center /cover;
}

#location h2 {
    font-family: 'JalnanGothic';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    color: #fff;
}

#location p {
    margin-top: 12px;
    font-family: 'S-CoreDream-3Light';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #fff;
}

#location a {
    text-indent: -100%;
    display: block;
    margin-top: 50px;
    width: 800px; height: 40px;
    background: #fff;
    border-radius: 20px;
}